body {
  background-color: antiquewhite;
  padding: 50px;
}

#btn_row {
  display: flex;
  justify-content: center;
  align-self: center;
  line-height: 42px;
  margin: 20px;
}

.delete-btn {
  background-color: transparent;
  border: none;
  height: 20px;
  width: 20px;
  float: right;
}

#welcome {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.form-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.form-container.active {
  max-height: 500px; /* Adjust based on form height */
}

.dropdown {
  border-radius: 3px;
  background-color: rgb(190, 190, 190);
  border: 1px black solid;
  padding: 5px 10px;
  float: right;
}
