body {
  background-color: antiquewhite;
  padding: 50px;
}

#btn_row {
  display: flex;
  justify-content: center;
  align-self: center;
  line-height: 42px;
  margin: 20px;
}

#delete {
  background-color: transparent;
  border: none;
  height: 20px;
  width: 20px;
  float: right;
}

#welcome {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
